<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>百度新闻</title>
    <link rel="stylesheet" href="/stylesheets/news.css">
</head>

<body>
    <div class="container">
        <header class="bkclr-blue">
            <div class="hd-left-icon">
                <i class="icon icon-bd"></i>
                <i class="icon icon-hum"></i>
            </div>
            <div class="logo_con"><img src="images/news_imgs/bg-news-logo.png" alt="" width="77px"></div>
            <div class="hd-right-icon">
                <i class="icon icon-search"></i>
                <i class="icon icon-plus"></i>
            </div>
        </header>
        <nav class="bkclr-blue">
            <div class="nav-box">
                <ul>
                    <li><a>推荐</a></li>
                    <li><a>百家</a></li>
                    <li><a>本地</a></li>
                    <li><a>图片</a></li>
                    <li><a>娱乐</a></li>
                    <li><a>社会</a></li>
                    <li><a>军事</a></li>
                    <li><a>女人</a></li>
                    <li><a>教育</a></li>
                    <li><a>科技</a></li>
                    <li id="li-span-2"><a>更多</a></li>
                </ul>
            </div>
        </nav>
        <article>
            <!-- 第一屏 推荐-->
            <div class="con-tab con-tab1 tab-active">
                <div class="hd-img">
                    <div class="hd-img-title">武汉独栋别墅成孤岛</div>
                </div>
                <div class="news-container">
                <!-- 以下代码进行动态加载处理，此处保留以备检查格式 -->
                    <!-- <div class="news-wrap">
                        <div class="img-wrap">
                            <img src="img/tab1/sm1.jpg" alt="">
                        </div>
                        <div class="news-box">
                            <div class="news-title"><span>习近平会见联合国秘书长潘基文</span></div>
                            <div class="news-time"><span>5小时前</span></div>
                        </div>
                    </div> -->
                </div>
                <div class="add-more">点击加载更多</div>
            </div>
            <!-- 第二屏 百家-->
            <div class="con-tab con-tab2">
                <div class="hd-img">
                    <div class="hd-img-title">大量内地垃圾冲上香港海滩特首带头捡</div>
                </div>
                <div class="news-container">
                    <!-- 动态加载在此处 -->
                </div>
                <div class="add-more">点击加载更多</div>
            </div>
            <!-- 第三屏 本地-->
            <div class="con-tab con-tab3">
                <div class="hd-img">
                    <div class="hd-img-title">【北京商报】药品整治最严年 半年近百张药品GMP证书被收回</div>
                </div>
                <div class="news-container">

                </div>
                <div class="add-more">点击加载更多</div>
            </div>
            <!-- 第四屏 图片-->
            <div class="con-tab con-tab4">
                <div class="hd-img">
                    <div class="hd-img-title">葡萄牙问鼎欧洲杯 C罗高捧德劳内金杯</div>
                </div>
                <div class="news-container">

                </div>
                <div class="add-more">点击加载更多</div>
            </div>
            <!-- 第五屏 娱乐-->
            <div class="con-tab con-tab5">
                <div class="hd-img">
                    <div class="hd-img-title">张艺兴再现“露额杀”</div>
                </div>
                <div class="news-container">

                </div>
                <div class="add-more">点击加载更多</div>
            </div>
            <!-- 第六屏 社会-->
            <div class="con-tab con-tab6">
                <div class="hd-img">
                    <div class="hd-img-title">警方破获吸贩毒团伙案 “公主”指认现场</div>
                </div>
                <div class="news-container">

                </div>
                <div class="add-more">点击加载更多</div>
            </div>
            <!-- 第七屏 军事-->
            <div class="con-tab con-tab7">
                <div class="news-container">

                </div>
                <div class="add-more">点击加载更多</div>
            </div>
            <!-- 第八屏 女人-->
            <div class="con-tab con-tab8">
                <div class="news-container">

                </div>
                <div class="add-more">点击加载更多</div>
            </div>
            <!-- 第九屏 教育-->
            <div class="con-tab con-tab9">
                <div class="news-container">

                </div>
                <div class="add-more">点击加载更多</div>
            </div>
            <!-- 第十屏 科技-->
            <div class="con-tab con-tab10">
                <div class="news-container">

                </div>
                <div class="add-more">点击加载更多</div>
            </div>
        </article>
    </div>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>
